@font-face {
    font-family: 'Gabriela-Bold';
    src: url("../fonts/GabrielaStencil-Bold.otf");
    }

.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.typography-line{
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}
.typography-line span{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}
.tim-row{
    padding-top: 60px;
}
.tim-row h3{
    margin-top: 0;
}

.offline-doc .page-header{
  display: flex;
  align-items: center;
}

.offline-doc .footer{
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #000000 !important;
}
.hoopoefont{
    font-family: 'Gabriela-Bold' !important;
}
.clr {
    color: #aaa !important;
}
.sidebar {
    position:  absolute !important;
}
.full-page-content {
    margin: 15vh 0vh;
}

.wrapper-full-page::before{
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.1;
    overflow: hidden;
    animation: animatedBackground 20s linear infinite alternate;
}

@keyframes animatedBackground {
    15% {
        background-image: url('../img/bg3.jpg');
    }
    30% {
        background-image: url('../img/bg4.jpg');
    }
    45% {
        background-image: url('../img/bg5.jpg');
    }
    60% {
        background-image: url('../img/bg6.jpg');
    }
    75% {
        background-image: url('../img/bg7.jpg');
    }
    100% {
        background-image: url('../img/bg8.jpg');
    }

}

.wrapper-full-page::before{
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.prof-title {
    color: #777777 !important;
    text-decoration: none !important;
}
.prof-title:hover {
    color: #20242c !important;
    text-decoration: none !important;
}